APP_ID="REP01"
APP_NAME="Tracking-report"
TZ="America/La_Paz"

WS_PORT=10701
APP_PORT=10801

WS_GATEWAY_HOST_PROCESSOR=localhost
WS_GATEWAY_PORT_PROCESSOR=7160

UUID=c2dd86f2

PING_INTERVAL_MS=5000
STORAGE_INTERVAL_HRS=1
SAVE_INTERVAL_MIN=5

DB_URL=./database/tracking-report.db
